*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto;
    background-color: #f3f3d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(255, 77, 0);
    background-color: rgb(229, 229, 81);
    
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.btn-primary{
    width: 100px;
    height: 40px;
    margin: 0 15px; /*Espaçamento botões*/
    background-color: rgb(220, 220, 25);
    color: #fff;
    border: 1px solid rgb(229, 229, 81);
    border-radius: 10px;
    cursor: pointer;/*Mudar para mãozinha no mouse*/
    font-size: 15px;
    transition: all .3s ease;/*Tempo transição mudar cor botão*/

    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background-color: #fff;/*Mudar a cor quando passar a seta no mouse*/
    color: rgb(229, 229, 81);
}

.botoes{
    text-align: center;

}

.container{
    max-width: 1280px;
    margin: 0 auto;
    
}

.formSite{
    background-color: #fff;
    max-width: 540px; /*Aumentar largura do quadrado*/
    height: 520px; /*Aumentar altura do quadrado*/
    padding: 40px;
    border-radius: 20px;
    
}

.input-single{
    
    display: block;
    position: relative;
    margin: 20px 0;   
    display: flex;
    flex-direction: column;
    
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.input-single label{
    left: -4;
    bottom: 6px;
    cursor: text;
}

.input{
    width: 100%;
    padding: 5px;
    font-size: 17px;
    outline: 0;
}

input[type="date"] {
    width: 225px;

}

.input-single select{
 width: 225px;   
 height: 35px;
}

.confSenha{
    width: 225px; 
    height: 52px;
}

label{
    font-weight: bold;
}