<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos Enviados</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/arquivosEnviados.css' %}">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>Arquivos Enviados</h1>


        <form method="post" enctype="multipart/form-data" class="formSite">
            {%csrf_token%}

            <div class="input-group">
                <div class="input-single">
                    <label for="">Filtar por:</label>

                    <label for=""></label>
                    <select name="periodoHistorico" id="uname" class="input">
                        <option value=""></option>
                        {% for pHisto in pHistorico %}
                        <option value="{{pHisto}}">{{pHisto}}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for=""></label>
                    <select name="ano" class="input">
                        <option value=""></option>
                        {% for ano in anos %}
                        <option value="{{ano}}">{{ano}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-single">
                    <label for="">Ordenar por:</label>
                    <select name="ordenar" id="uname" class="input">
                        <option value=""></option>
                        <option value="{{nome}}">{{nome}}</option>
                    </select>
                </div>

                <div class="input-single">
                    <label for="">Formato: </label>
                    <input type="text" name="formato" class="input" placeholder="Exemplo: .jpg">
                </div>

                <div class="input-single">
                    <div class="alinharBotao">
                        <button type="submit" name="Pesquisar" class="btn-primary">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div class="tabela">
                <table style="width:20%" class="cenTabela">
                    <tr>
                    <tr>
                        <th>Título</th>
                        <th>Período histórico</th>
                        <th>Ano do arquivo</th>
                        <th>Descrição</th>
                        <th>Visualizar</th>
                        <th>Editar</th>
                        <th>Excluir</th>

                    </tr>

                    {% for arquivo in arquivos %}
                    <td>{{arquivo.titulo}}</td>

                    <td>{{arquivo.periodoHistorico}}</td>

                    <td>{{arquivo.anoArquivo}}</td>

                    <td><textarea name="" id="" cols="30" rows="3" readonly>{{arquivo.descricao}}</textarea></td>

                    <td>
                        <button type="submit" name="visualizar" class="btn-primary">
                            <a href="../visualizarArquivo/{{arquivo.enderecoArquivo}}">Visualizar</a>
                        </button>
                    </td>

                    <td><button type="submit" name="editar" class="btn-primary">
                            <a href="../editarArquivo/{{arquivo.id}}">Editar</a>
                        </button></td>

                    <td><button type="submit" name="excluir" class="btn-primary">
                            <a href="../excluir/{{arquivo.id}}">Excluir</a>
                        </button></td>
                    </tr>
            </div>
            {% endfor %}

            </table>

            </script>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </form>
    </div>

</body>

</html>