<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">
</head>

<body>
  {% include 'header.html' %}
  <div class="container">
    <h1>Cadastro</h1>
    <form method="post" class="formSite">
      {%csrf_token%}
      <div class="input-group">
        <div class="input-single">
          <label for="uname">ID Produto</label>
          
          <select name="idProduto" id="">
            {% for produto in produtos %}
            <option value="{{produto.id}}">ID:{{produto.id}} | Nome:{{produto.nome}}</option>
            {% endfor %}
          </select>
          
        </div>
      
        <div class="input-single">
          <label for="uname">Quantidade</label>
          <input type="text" name="quantidade" class="input">
        </div>

        <div class="input-single">
          <label for="uname">Data de Fabricação</label>
          <input type="date" name="dataFabri" class="input">
        </div>

        <div class="input-single">
            <label> Data de Validade: </label>
            <input type="date" name="dataFabri" class="input">
        </div>

      </div>
      <br>
      <div class="botoes">
        <button type="submit" name="cadastrar" class="btn-primary">Cadastrar</button>
      </div>
      {% for message in messages %}
      <p id="messages" style="text-align:center"><br>
        {{ message }}
      </p>
      {% endfor %}
    </form>
  </div>
</body>
</html>