<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/cadastro.css' %}"
    />
  </head>

  <body>
    {% include 'header.html' %}
    <div class="container">
      <h1>Cadastrar Produto</h1>
      <form method="post" class="formProduto">
        {%csrf_token%}

        <div class="input-group">
          <div class="input-single">
            <label for="uname">Nome</label>
            <input type="text" name="nome" class="input" />
          </div>

          <div class="input-single">
            <label for="uname">Marca</label>
            <input type="text" name="marca" class="input" />
          </div>

          <div class="input-single50">
            <label for="uname">Peso</label>
            <input type="number" step="0.01" name="peso" class="input" />
          </div>

          <div class="input-single50">
            <label for="uname">Tipo</label>
            <select name="medida" id="tamanhoPeso">
              <option value="Kg" id="tamanhoPeso">Kg</option>
              <option value="g">g</option>
              <option value="L">L</option>
              <option value="ml">ml</option>
            </select>
          </div>

          <div class="input-single50">
            <label for="uname">Preço</label>
            <input
              type="number"
              step="0.01"
              name="preco"
              class="input"
              id="tamanhoPreco"
            />
          </div>

          <div class="input-single">
            <label> Descrição do produto </label>
            <textarea
              name="descProduto"
              id=""
              cols="50"
              rows="5"
              class="input"
              id="descricao-box"
            ></textarea>
          </div>
        </div>
        <div class="botoes">
          <button type="submit" name="cadastrar" class="btn-primary">
            Cadastrar
          </button>
        </div>
        <br />
        {% for message in messages %}
        <p id="messages" style="text-align: center">
          <label for=""> {{ message }} </label>
        </p>
        {% endfor %}
      </form>
    </div>
  </body>
</html>
