<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar arquivo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/enviarArquivo.css' %}">
</head>
<body>
    <div class="container">
        <h1>Editar Arquivo</h1>
        <form method="post" enctype="multipart/form-data" class="formSite">
            {%csrf_token%}
            <div class="input-single">
                <label> Título: </label>
                {% for arq in arquivo %}
                <input type="text" name="titulo" class="input" id="titulo-box" value="{{arq.titulo}}">
            </div>
            <div class="input-single">
                <label> Período histórico: </label>
                <input type="text" name="periodoHistorico" class="input" id="periodo-box"
                    value="{{arq.periodoHistorico}}">
            </div>

            <div class="input-single">
                <label> Ano do arquivo: </label>
                <input type="text" name="anoArquivo" class="input" id="ano-box" value="{{arq.anoArquivo}}">
            </div>

            <div class="input-single">
                <label> Descrição do arquivo: </label>
                <textarea name="descArquivo" id="" cols="30" rows="5" class="input"
                    id="descricao-box">{{arq.descricao}}</textarea>
            </div>

            <div class="input-single">
                <label> Escolha o arquivo que deseja enviar: </label>
                <input type="file" id="myFile" name="enderecoArquivo" class="input" id="escolha-box"
                    value="{{arq.enderecoArquivo}}" />
            </div>
            {% endfor %}

            <div class="centraBotao">
                <button type="submit" name="voltar" class="btn-primary">Voltar</button>
                <button type="submit" name="salvar" class="btn-primary">Salvar</button>
            </div>

            {% for message in messages %}
            <p id="messages" style="text-align:center"><br>
                {{message}}
                {% endfor %}
        </form>
    </div>
</body>

</html>