<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de vendas e compras</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">
</head>

<body>
  {% include 'header.html' %}
  <div class="container">
    <h1>Dados de Compras e Vendas</h1>
    <form method="post" class="formComprar">
      {%csrf_token%}
        <table >
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Total de Vendas</th>
            <th>Total de Compras</th>
          </tr>
          {% for dado in dados %}
          <tr>
            
            <td>{{dado.id}}</td>
            <td>{{dado.nome}}</td>
            <td>{{dado.Quantidade_Vendida}}</td>
            <td>{{dado.Quantidade_Comprada}}</td>
          </tr>
          {% endfor %}
        </table>
          

    </form>



  
</body>
</html>