<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <header>
            <div class="iconeLogin">
                <img src="{% static 'imagens/logo.png' %}">
            </div>
            <div class="titulo">
                <label for="" name="titulo">CQP</label>
            </div>
            <a href="../editarPerfil/{{cpf}}" name="editarPerfil">Editar perfil</a>
            <a href="../cadastrarCliente">Cliente</a>
            <a href="../cadastrarFornecedor">Fornecedor</a>
            <a href="../cadastroProduto">Produtos</a>
            <a href="../cadastrarLote">Lote</a>
            <a href="../comprarProduto">Comprar produto</a>
            <a href="../graficos">Gráficos</a>
            <button class="botao" name="Sair"> Sair</button>
        </header>
        <main></main>
    </form>
</body>
</html>