<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paginaInicial.css' %}">
</head>
<body>
  <div class="container">
<h1>Página Inicial</h1> 
<form method="post">
    {%csrf_token%}
    
      <div class="input-group">
        <div class="input-single">  
      <button type="submit" name="editarConta" class="botao">
        <img src="{% static 'imagens/editarPerfil.png'%}">   
        <p>Editar conta</p></button>
        </div>  

    
      <div class="input-single"> 
      <button type="submit" name="enviarArquivo" class="botao">
        <img src="{% static 'imagens/enviarArquivo.png'%}">  
        <p>Enviar arquivo</p></button>
      </div>

     

      <div class="input-single"> 
      <button type="submit" name="verbaiArquivo" class="botao">
        <img src="{% static 'imagens/download.png'%}"> 
        <p>Ver/Baixar arquivo</p></button>
      </div>


      <div class="input-single"> 
      <button type="submit" name="arqEnviados" class="botao">
        <img src="{% static 'imagens/arquivosEnviados.png'%}">     
    <p>Arquivos enviados</p></button>
    </div>
</div>
     
</form>   
 
</div>
</body>
</html>