<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    {% include 'header.html' %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comprar Produtos</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/cadastro.css' %}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Vender Produto</h1>
      <form method="post" class="formVender">
        {%csrf_token%}
        <div class="input-group">
          <div class="input-single">
            <label for="uname">CPF do Cliente</label>
            <select name="cpfCli" id="">
              {% for cliente in clientes %}
              <option value="{{cliente.cpf}}">
                CPF:{{cliente.cpf}} | Nome:{{cliente.nome}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="input-single">
            <label for="uname">Nome do Produto</label>
            <select name="idProduto" id="">
              {% for produto in produtos %}
              <option value="{{produto.id}}">
                ID:{{produto.id}} | Nome:{{produto.nome}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="input-single">
            <label for="uname">Quantidade</label>
            <input type="number" name="quant" class="input" />
          </div>
        </div>

        <div class="botoes">
          <button type="submit" name="comprar" class="btn-primary">
            Vender
          </button>
        </div>
        <br />
        {% for message in messages %}
        <p id="messages" style="text-align: center">
          <label for=""> {{ message }} </label>
        </p>
        {% endfor %}
      </form>
    </div>
  </body>
</html>
